.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    padding: 0 20px;
}

mat-form-field {
    margin: 0 10px;
}

.search-input {
    margin: 0 10px;
}

.components-order{
    display: flex;
    flex-direction: row;
    height: 85vh;
}

.components {
    flex: 2;
    overflow-y: auto;
}

.order {
    flex: 1;
}

.spinner {
    margin: 50%;
    align-self: center;
}