<form [formGroup]="form">
    <div class="container">
        <div class="text">Enter model number</div>
        <input type="text" id="model" class="search-input" formControlName="model">
        <span *ngIf="hasOtherValuesThanNumber"> Only number is allowed</span>
        <button (click)="onClick()" [disabled]="isDisabled" class="btn">
            Search
        </button>
    </div>
</form>

<div class="components-order">
    <div class="components">
        <app-components [components]="this.components"></app-components>
    </div>
    <div class="order">
        <app-order></app-order>
    </div>
</div>