<form [formGroup]="form">
    <div class="container">
        <mat-form-field class="example-full-width">
            <mat-label>Enter the model</mat-label>
            <input type="text" matInput [formControl]="model">
            <mat-error *ngIf="model.hasError('pattern') && !model.hasError('required')">
                only numbers are allowed
            </mat-error>
            <mat-error *ngIf="model.hasError('required')">
                Number is required
            </mat-error>
        </mat-form-field>
        <button mat-raised-button (click)="onClick()" [disabled]="isDisabled" color="primary">
            Search
        </button>
    </div>
</form>

<div class="components-order">
    <div class="spinner" *ngIf="showLoader; else noLoader">
        <app-spinner></app-spinner>
    </div>
</div>

<ng-template #noLoader>
    <div class="components">
        <app-components *ngIf="showComponents" [components]="this.components"
            (cartComponent)="updateOrders($event)"></app-components>
    </div>
    <div class="order">
        <app-order *ngIf="showOrders" [orders]="this.orderComponents" (orderPlaced)="updatePlacedOrders()"></app-order>
    </div>
</ng-template>