<div class="container">
    <header>Components</header>
    <mat-divider></mat-divider>
    <div class="components">
        <div *ngIf="components.length == 0; else comps" class="no-components">
            No Components available for the model!
        </div>
    </div>
</div>

<ng-template #comps>
    <mat-card *ngFor="let comp of components; ">
        <mat-card-header>
            <mat-card-title>{{comp.name}}</mat-card-title>
        </mat-card-header>
        <img class="component-image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="image">
        <mat-card-content>
            <p>Price : {{comp.price}}</p>
            <p>Quantity : {{comp.quantity}}</p>
        </mat-card-content>
        <mat-card-actions>
            <input type="number" class="quantity-input" min="0" placeholder="Qty">
            <button mat-button>Add to Cart</button>
        </mat-card-actions>
    </mat-card>
</ng-template>