<div class="container">
    <header>Components</header>
    <mat-divider></mat-divider>
    <div class="components">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Component name</mat-card-title>
            </mat-card-header>
            <img class="component-image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="image">
            <mat-card-content>
                <p>Price : </p>
                <p>Quantity : </p>
            </mat-card-content>
            <mat-card-actions>
                <input type="number" class="quantity-input" min="0" placeholder="Qty">
                <button mat-button>Add to Cart</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>