header {
    font-size: 36px;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px;
    background-color: aliceblue;
}

.container {
    border: 1px solid grey;
    padding: 10px;
    height: 80vh;
}

.components {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.mat-card{
    width: 200px;
    height: 250px;
    margin: 10px;
}

.component-image {
    width: 150px;
    height: 100px;
    margin: 0 15px;
}

.mat-card-title {
    overflow:hidden ;
    text-overflow:ellipsis;
    white-space: nowrap;
    width: 200px;
}

.mat-card-content{
    margin: 5px 15px;
}

.qty-button {
    justify-content: space-evenly;
    margin: 0 15px;
    display: flex;
    align-items: center;
}

.no-components {
    font-size: 24px;
    font-weight: bold;
}

.mat-form-field {
    width: 70px;
    height: 60px;
}