<div class="container">
    <header>Components</header>
    <mat-divider></mat-divider>
    <div class="components">
        <div *ngIf="components.length == 0; else comps" class="no-components">
            No Components available for the model!
        </div>
    </div>
</div>

<ng-template #comps>
    <mat-card *ngFor="let comp of components; ">
        <mat-card-header>
            <mat-card-title>{{comp.name}}</mat-card-title>
        </mat-card-header>
        <img class="component-image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="image">
        <mat-card-content>
            <p>Price : {{comp.price}}</p>
            <p>Quantity : {{comp.quantity}}</p>
        </mat-card-content>
        <div class="qty-button">
            <mat-form-field appearance="fill">
                <mat-label>Qty</mat-label>
                <mat-select (selectionChange)="updateQuantity($event.value, comp.id)">
                    <mat-option *ngFor="let i of quantityRange(comp.quantity)" [value]="i+1">
                        {{i+1}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-card-actions>
                <button mat-button color="primary" (click)="add(comp.id)">Add to Cart</button>
            </mat-card-actions>
        </div>
    </mat-card>
</ng-template>x