<div class="container">
    <header>Cart</header>
    <mat-divider></mat-divider>
    <div class="spinner" *ngIf="showLoader; else cart">
        <app-spinner></app-spinner>
    </div>
</div>

<ng-template #cart>
    <div class="orders">
        <mat-card *ngFor="let order of orders; ">
            <mat-card-header>
                <mat-card-title>{{order.name}}</mat-card-title>
                <mat-card-subtitle>Quantity : {{order.quantity}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>Price: {{order.price * order.quantity}}</mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="warn" (click)="removeOrderFromCart(order.id)" class="close">X</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <mat-divider></mat-divider>
    <div class="order-button">
        <button mat-raised-button class="order" (click)="placeOrder()" color="primary">Order</button>
    </div>
</ng-template>